
body {
    font-family: Arial, sans-serif;
    background-color: rgb(170, 217, 231);
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #16131371;
    animation: slide-down 0.5s;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


.mobile-toggle {
    display: none;
}

/* Affichage mobile */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-toggle {
        display: block;
    }

    .mobile-toggle {
        display: block;
        float: right;
        cursor: pointer;
        margin-top: 10px; 
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .image-text-container {
        flex-direction: column; 
        text-align: center; 
    }

    
}


.hero-section {
    background-image: url('Image/cup-of-coffee-1280537_640.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h2 {
    padding: 10px;
}


.content-section {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    background-color: rgb(170, 217, 231);
}

.content {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #2287ca;
    text-align: center;
    color: white;
    border-radius: 20px;

}


.testimonials-section {
    background-color: #32aac9;
    color: #fff;
    padding: 40px 0;
}

.testimonials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial-bubble {
    background-color: #e0ab5c;
    color: white;
    border-radius: 25px 0px 25px 0px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 150px;
    height: 500px;
}

/* Style du footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.header-container a {
    float: left;
}

.desktop-nav {
    float: right;
    margin-top: -50px;
    margin-right: 40px;
}

.desktop-nav a {
    margin-left: 20px; 
    text-decoration: none;
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
    width: 90px;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.desktop-nav a:hover {
    color: #555; 
}

.mobile-toggle {
    display: none;
}


#logo {
    width: 20px;
    font-size: 24px;
    font-weight: bold;
}





.image-text-container {
    display: flex;
    align-items: center; 
    margin: 20px; 
    
}

.image {
    flex: 1; 
    padding: 10px;
    border-radius: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.text {
    flex: 1; 
    padding: 10px; 
    color: white;
    background-color: rgb(72, 157, 226);
    border-radius: 20px;
}




.prem{
    background-color: rgb(30, 138, 226);
}


.hero-image{
    font-size: 90%
}





.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange; /* Fond orange */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Animation de transition d'opacité */
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    opacity: 0;
  }
  
 
  .loader p {
    color: white; 
    font-size: 20px; 
    margin-top: 20px; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  #tesmo{
    transition: transform 2s ease;
    padding: 13px ; color: white;
    background-color: orange;
    border-radius: 25px 0px 25px 0px;;
  }

  #tesmo :hover{
    background-color: #5F9EA0;
    transform: scale(1.2);
  }